*.pyc
__pycache__
specification/*pb2.py

# Ignore IDE files
.idea/

# Ignore Coverage Report
*.coverage

# Ignore the log files
logs/

# Ignore other MTP Proxy Config files
mtp-proxy/cfg/proxy-*.json

# Ignore MAC Special Files
.DS_Store
