<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    {% if site.google_analytics %}
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-116541596-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-116541596-1');
  </script>
{% endif %}
    <meta charset="UTF-8">
    <title>The User Services Platform - Standardized IoT Management and Control</title>
    <meta name="description" content="{{ page.description | default: site.description | default: site.github.project_tagline }}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <section class="page-header">
      <h1 class="project-name"><a href="/" style="text-decoration:none; color:white;"><img src="/assets/img/bbflogo-bw.png"/><br>User Services Platform (USP)</a></h1>
      <h2 class="project-tagline">A standardized protocol to manage, monitor, update, and control connected devices, IoT endpoints, user services and home networks.</h2>
      <p>Version 1.1</p>
      <p><a class="btn" href="/specification/">Specification</a> <a class="btn" href="https://broadbandforum.github.io/usp-data-models/">Data Models</a>  <a class="btn" href="/resources/">Dev Resources</a> <a class="btn" href="/faq/">FAQ</a></p>

    </section>

    <section class="main-content">
      {{ content }}
      <div style="clear: both;"></div>
      <footer class="site-footer">
        <div class="text-center">
          Specification Sections<br>
        <a href="/specification/#introduction" >1. Introduction</a> |
        <a href="/specification/architecture" >2. Architecture</a> |
        <a href="/specification/discovery" >3. Discovery and Advertisement</a> |
        <a href="/specification/mtp" >4. Message Transfer Protocols</a> |
        <a href="/specification/encoding" >5. Message Encoding</a> |
        <a href="/specification/e2e-message-exchange" >6. End to End Message Exchange</a> |
        <a href="/specification/messages" >7. Messages</a> |
        <a href="/specification/security" >8. Authentication and Authorization</a> |
        <a href="/specification/extensions/http-bulk-data-collection" >A. HTTP Bulk Data Transfer</a> |
        <a href="/specification/extensions/software-module-management" >I. Software Module Management</a> |
        <a href="/specification/extensions/firmware-management" >II. Firmware Management</a> |
        <a href="/specification/extensions/device-proxy" >III. Device Proxy</a> |
        <a href="/specification/extensions/proxying" >IV. Proxying (Other)</a> |
        <a href="/specification/extensions/iot" >V. IoT Theory of Operations</a> |
        <a href="https://usp-data-models.broadband-forum.org/">USP Data Model</a>
      </div>
      <br>
        {% if site.github.is_project_page %}
          <span class="site-footer-owner">USP is developed and maintained by the <a href="http://www.broadband-forum.org">Broadband Forum</a>.</span>
          <span class="site-footer-owner">&copy; Broadband Forum 2018-2019</a>. All Rights Reserved.</span>
        {% endif %}
        <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a>.</span>
      </footer>
    </section>

<!--
    {% if site.google_analytics %}
      <script type="text/javascript">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-116541596-1', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
  -->
  </body>
</html>
